{
  "env": {
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "header"],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "extends": [
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "plugin:prettier/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "ignorePatterns": ["dist", "scripts", "package-scripts.js", "storybook-static"],
  "rules": {
    "no-shadow": "off",
    "@typescript-eslint/no-shadow": ["error"],
    "no-console": 2,
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": [
      2,
      {
        "varsIgnorePattern": "^_",
        "argsIgnorePattern": "^_"
      }
    ],
    "header/header": [
      2,
      "block",
      [
        " This Source Code Form is subject to the terms of the Mozilla Public",
        " * License, v. 2.0. If a copy of the MPL was not distributed with this",
        " * file, You can obtain one at https://mozilla.org/MPL/2.0/. "
      ],
      2
    ],
    "no-restricted-imports": ["error", { "patterns": ["\\.\\./.*"] }]
  }
}
